# Virtual environment
venv/
__pycache__/

# Data files
data/*.csv

# MLflow tracking
mlruns/

# Model artifacts
models/
*.pkl

# Jupyter checkpoints
.ipynb_checkpoints/

# OS / IDE files
.DS_Store
*.log
*.idea/
*.vscode/
